.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  
}
.example1{
  background-color:grey;
  padding-bottom: 50px;

}

.book-details {
  display: flex;
  flex-direction: column;
}

.book-info {
  display: flex;
  flex-direction: row;
}

.action-area {
  display: flex;
  flex-direction: column;
}

.additional-info {
  display: flex;
  flex-direction: column;
}

/* main {
  background-color: #d1d3d4;
} */
/* footer {
  background-color: #d1d3d4;
} */
.card-1 {
  border-style: solid;
  border-color: black;
  border-radius: 10px;

}
.card-2 {
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}
.star-rating {
  color: rgba(255, 255, 255, 0.783);
}
/* .filled {
  height: 20px;
  color: aquamarine;
} */
.hovered {
  height: 20px;
  color: rgb(240, 19, 19);
}
.not-found{
  padding: 10px;
}

.col-md-6{
  padding-top: 10px;
  padding-bottom: 10px;
}