body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  /* margin-top: 220px;
  margin-left: 280px;
  max-width: 1200px;

  padding: 20px; */
}

.intro-section,
.trending-section,
.joy-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text {
  flex: 1;
  padding: 20px;
}

.text h1,
.text h2 {
  font-size: 36px;
  margin: 0;
  color: #333;
}

.text p {
  margin: 10px 0;
  color: #666;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}
.example{
  background-color: #007bff;
}
